/* Google font import (Nunito @ 200 - 600) */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200..600&display=swap");

/* variables */
:root {
	--normal: rgb(149, 151, 149);
	--fighting: rgb(250, 117, 22);
	--flying: rgb(121, 176, 235);
	--poison: rgb(132, 58, 194);
	--ground: rgb(132, 71, 33);
	--rock: rgb(165, 159, 119);
	--bug: rgb(134, 150, 34);
	--ghost: rgb(99, 57, 100);
	--fire: rgb(221, 37, 38);
	--water: rgb(45, 117, 234);
	--grass: rgb(62, 150, 43);
	--electric: rgb(246, 184, 31);
	--psychic: rgb(231, 58, 109);
	--ice: rgb(70, 210, 254);
	--dragon: rgb(72, 86, 218);
	--dark: rgb(70, 57, 55);
	--steel: rgb(90, 151, 174);
	--fairy: rgb(229, 100, 230);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito", Arial, sans-serif;
}

body {
	width: 100dvw;
	overflow-x: clip;
	background: linear-gradient(90deg, #00c5ff 0%, #b068c6 100%);
}

h1 {
	margin-top: 1rem;
	text-align: center;
}

h1,
.poke-name {
	color: #fff;
	letter-spacing: 1px;
}

main {
	width: 96%;
	margin: 1rem auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.pokemon {
	width: 45%;
	max-width: 250px;
	margin: 0.5rem 0;
	padding: 1rem 0;
	text-transform: capitalize;
	border: 2px solid #d4d4d490;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.poke-num {
	width: fit-content;
	aspect-ratio: 1;
	padding: 0 0.5rem;
	font-size: 1.2rem;
	font-weight: 600;
	background-color: #ddd;
	border-radius: 50%;
	display: grid;
	place-items: center;
}

.poke-name {
	font-size: 1.25rem;
}

.poke-type {
	margin: 0.25rem 0;
	padding: 0.2rem 0.5rem;
	background-color: #ddd;
	border-radius: 1rem;
	display: flex;
	align-items: center;
}

.poke-type img {
	height: 1.25rem;
	aspect-ratio: 1;
	margin-right: 0.25rem;
}
